<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><i class="bi bi-newspaper"></i><h2>NEWS UPDATES</h2></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
                <li><a href="/">SOURCES</a></li>
                <li><a href="/">GET IN TOUCH</a></li>
            </ul>
        </div>
    </div>
</div>